body{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: #F4E3B2;
}
h1{
    justify-self: flex-start;
    align-self: center;
    width: fit-content;
    display: flex;
    font: 80px "Brush Script MT";
    margin-top: 1px;
    margin-bottom: 1px;
}
/*this is all on the platform*/
button{
    width: inherit;
    height: inherit;
    background-color: inherit;
    border: 0px ;
}
#top-button{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#bottom-button{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.platform{
    margin: 7em;
    margin-top: 4em;
    display: flex;
    padding: 3em;
    border:2px #001f1f solid;
    border-radius: 13px;
    box-shadow: 0 0 2rem black;
    background-color: #D3D5D7;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 14em;
    margin-top: 2em;
    font-weight: 900;
}

.menu-button{
    display: flex;
    background-color: #808080;
    height: 4em;
    width: 14em;
    transition: all 0.2s;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    padding: 2px;
    padding-top: 6px;
    margin-left: 3px;
    font-family: 'Courier New', Courier, monospace;
}
.colour-bar{
    width: 1em;
    margin-left: 10px;
    border: 5px #606b6b double;
    position: relative;
}
.note{
    display:flex;
    flex-wrap: wrap;
    max-width: 10em;
    margin-left: 3em;
}
/* this part is for the changing grid*/
#grid{
    width: 500px;
    height: 500px;
    padding: 0;
    border: 1px #1b1b1b solid;
    display: flex;
    flex-flow: row wrap;
    
}
.cell{
    
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: bottom;
    transition: all 0.001s ;
    
}
.paint{
    background-color: #001f1f;
}
/*these are the buttins that respond to inputs*/
.outer-button-hover{
    background-color: #3c3b3b;
    height: 7em;
    color: #EFC88B;
}
.sub-random-button{
    justify-self: center;
    align-self: center;
    margin-bottom: 4px;
    margin-top: 2em;
    background-color: #3c3b3b;
    border:2px #CF5C36 solid;
    border-radius: 16px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 16px;
    font-weight: 700;
}
.sub-random-button:hover{
    background-color: #4b4848;
}
.slider{
    -webkit-appearance: none;
    color: #001f1f;
    background-color: #001f1f;
    opacity: 2;
    border-radius: 7px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 20px;
    border-radius: 7px;
}